html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.page-title {
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: .5rem;
}

/*Card/Hover*/

.card-hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}
/*Message*/
.message-item {
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
}

    .message-item.unread {
        border-left: 4px solid #dc3545;
        background-color: #e9f2ff;
        font-weight: 600;
    }


.stat-box {
    background: #f1f3f5;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}