@model CV

<h1 class="mb-4">CV</h1>

<div class="card shadow-sm">
    <div class="card-body">

        <div class="mb-4">
            <h4 class="fw-bold">Utbildning</h4>
            <p class="mb-0">
                @Model.Education
            </p>
        </div>

        <div class="mb-4">
            <h4 class="fw-bold">Erfarenhet</h4>
            <p class="mb-0">
                @Model.Experience
            </p>
        </div>

        @if (!string.IsNullOrEmpty(Model.Skills))
        {
            <div class="mb-0">
                <h4 class="fw-bold">Kompetenser</h4>
                <p class="mb-0">
                    @Model.Skills
                </p>
            </div>
        }

    </div>
</div>